<div class="">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12">

        <% @cocktails.each do |cocktail| %>
          <p> <%= cocktail.name %> </p>
          <p> <%= link_to "Details", cocktail_path(cocktail) %> </p>
          <p> <%= cl_image_tag cocktail.photo.url(:index) %>  </p>
        <% end %>

      </div>
    </div>
  </div>
</div>


